:root {
  --almostWhite: hsl(0%, 0%, 98%);
  --almostBlack: hsl(0%, 0%, 8%);
  --mediumGrey: hsl(0, 0%, 41%)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--almostWhite);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
  margin: 0px 10px 0px 10px;
}

.container__login {
  padding: 0px 10px 0px 22%;
}

.login {
  text-decoration: none;
  padding: 12px;
}



.register-btn {
  padding: 8px 18px;
  background: transparent;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: var(--almostBlack);
}

.down-arrow {
  margin: 0px 0px 1px 7px;

}

.links {
  text-decoration: none;
  color: var(--almostBlack);
}

.features-dropdown {
  position: relative;
}

.features-list {
  position: absolute;
  right: 0px;
  top: 40px;
  padding: 10px;
  width: 145px;
  background-color: var(--almostWhite);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(201, 201, 200);

}

.features-list ul {
  list-style: none;
}

.features-list--item {
  display: flex;
  margin: 10px 0px 0px 10px;
  padding: 5px 0px;
}

.first-item {
  margin-top: 0%;
}
.features-list--item h4 {
  margin-left: 15px;
}